[Bb]in 
[Oo]bj 
[Dd]ebug 
[Rr]elease 
*.user 
*.aps 
*.eto 
*.ncb 
*.lib 
*.idb 
*.pdb 
*.ilk 
*.msi 
*.res 
*.pch 
*.suo 
*.aps 
*.user 
_ReSharper* 
*.resharper 
*-results.xml 
*.mdb 
*.ldb 
*.incr 
*.scc 
*.SCC 
*.vspscc 
*.projdata 
*.resources 
*.vbw 
~vssc 
Build 
*.doc 
_vti_bin 
_vti_cnf 
_vti_log 
_vti_pvt 
_vti_script 
_vti_txt 
[Tt]humbs.db 
Ankh.Load 
_UpgradeReport_Files 
UpgradeLog*.* 
*.mlb 
*.Cache 
[Ss]ql 
*.dbmdl